.charts
	border: 3px solid red
	box-sizing: border-box

svg
	font: 10px sans-serif

path.line
	fill: none
	stroke: darken(red, 20%)
	stroke-width: 1.5px

.axis
	shape-rendering: crispEdges

.x.axis line
	stroke: #fff

.x.axis path
	display: none

.y.axis line,
.y.axis path
	fill: none
	stroke: #000
